@use "@/styles/themes/variables" as *;

footer {
  padding: 2%;
  background-color: $azul-base;
  box-shadow: 0px 0px 40px 5px $azul-escuro;

  a {
    text-decoration: none;
    color: $azul-royal;
  }

  & > div {
    display: flex;
    border-bottom: $azul-escuro 2px solid;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
  }
  & > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      &:hover {
        color: $azul-palido;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 5%;
    & > div {
      flex-direction: column;
      gap: 20px;
      border: none;
    }
    & > div > div {
      width: 100%;
      text-align: center;

      border-bottom: $azul-royal 2px solid;
    }
  }
}
